<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @transaction.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @transaction.user_id %>
</p>

<p>
  <strong>Source wallet:</strong>
  <%= @transaction.source_wallet %>
</p>

<p>
  <strong>Target wallet:</strong>
  <%= @transaction.target_wallet %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @transaction.amount %>
</p>

<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>
